!!! 5
%html{ :lang => :en }
  %head
    %meta{ :charset => 'utf-8' }
    %title CIMI Client
    = style_tags 'bootstrap.min', 'bootstrap-responsive.min', :custom
    = script_tags :jquery, 'bootstrap.min', 'bootstrap-alert'
    %body
      .navbar.navbar-fixed-top
        .navbar-inner
          .container-fluid
            -if logged_in?
              %p{ :class => 'pull-right', :style => 'margin-top:8px;'}
                %small Logged as #{current_user.name}
                |
                %small
                  %a{ :href => url('/logout')} Logout
            %a.brand{ :href => '/' }
              ='<span style="color:#08c;">Delta</span>cloud'
              Control Panel
            .nav-collapse
              %ul.nav
                - if logged_in?
                  %li.active
                    %a{ :href => url('/accounts')}
                      %i.icon-globe
                      Accounts
                %li
                  %a{ :href => url('/api?format=xml') } API
                %li
                  %a{ :href => url('/api/docs') } Documentation

      .container-fluid
        .content
          %h1=current_url_title
          .row-fluid
            .span12#main
              - [ :info, :error, :success ].map do |message|
                = flash_block_for message
              = yield

        %footer.pull-right
          %p
            %small &copy; 2009-2012 The Apache Software Foundation and individual contributors.

